@page "{id:int}"
@model ToDoList.Pages.ToDoItems.DeleteModel
@{
    ViewData["Title"] = "Delete ToDo Item";
}

<h1>Delete ToDo Item</h1>

<h3>Are you sure you want to delete this item?</h3>
<div>
    <h4>@Model.ToDoModel.description</h4>
    <form method="post">
        <input type="hidden" asp-for="ToDoModel.id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
