@page "{id:int}"
@model ToDoList.Pages.ToDoItems.EditModel
@{
    ViewData["Title"] = "Edit ToDo Item";
}

<h1>Edit ToDo Item</h1>

<form method="post">
    <input type="hidden" asp-for="ToDoModel.id" />
    <div class="form-group">
        <label asp-for="ToDoModel.description" class="control-label"></label>
        <input asp-for="ToDoModel.description" class="form-control" />
        <span asp-validation-for="ToDoModel.description" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="ToDoModel.isChecked" class="form-check-input" />
        <label asp-for="ToDoModel.isChecked" class="form-check-label">Completed</label>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
